
        .formwrap{
            margin-top: 30px;
            .links{
                display: block;
                width: 100%;
                margin: 15px auto 0;
                a{
                    color: rgb(202, 21, 193);

                }
            }
            .socialSignIn{
                margin-top: 60px;
            }
        }
